- var picture = 'march/a.murata.collage.jpg'
- var credit = 'Photos courtesy of Aya Murata.'
- var caption = ' '
include ../includes/banner.pug
article(id='narratives')
  h2(style='font-weight: 700; letter-spacing: 1px; margin-top: 50px;') Alumni Narratives
  p We reached out to Andover alumni on Facebook with the following post:
  div(style='margin-bottom: 30px;')
    div(style='margin: -20px 10% 0 10%; line-height: 22px')
        p
          em Were you, a current Andover student, faculty member, or alumnae, present at the Women's March on Washington or a sister march elsewhere? #[em The Phillipian] would love to hear about your experiences at the march (including photos or videos), and reflections on how or if Andover prompted your interest in activism.
    p Below are a few of the narratives we received from alumnae who marched around the United States.

  h3(style='font-weight: 700; letter-spacing: 1px; margin-bottom: 12px; font-size: 36px;') Boston
  h4(style='font-size: 20px;') Abigail Burman ’12
  div(style='margin: -20px 0 0 5%; line-height: 22px')
    p “I went to the big march in DC, and it was absolutely overwhelming, people and pink hats in every direction, filling every street.  there were so many people (2.5 times the initial estimate) that we ended up taking the inauguration parade route, and the stands that were so empty on the 20th were very full on the 21st.  This was the inauguration of a new era of democracy and patriotism, led by women, chanting "refugees are welcome here," and recognizing the necessity of asking tough questions. Movements can't survive without hope and community, and we marched them both into existence, from towns of 200 to major cities. I'm so excited to see everyone keep up the organizing at the local level and in the midterms.  With the care and dedication that coordinated buses from all across america and scoured the internet for security compliant clear plastic bags we are going to haul forth an America that embraces everyone.”
    - var photo = 'march/a.burman.jpg'
    - var credit = 'Courtesy of Abigail Burman.'
    - var caption = ' '
    include ../includes/inline-photo.pug
  h4(style='font-size: 20px;') Jenny Moore Rynne ’82
  div(style='margin: -20px 0 0 5%; line-height: 22px')
    p “Attended the Boston March with my 13-year-old daughter and 26-year-old niece.  Emotions ran the gamut, from being excited at the spectacular turnout to being overwhelmed at the enormity of the challenges we face to feeling hopeful as the speakers galvanized the crowd.  So thankful we were able to be part of such an historic day!”
  h3(style='font-weight: 700; letter-spacing: 1px; margin-bottom: 12px; font-size: 36px;') Washington D.C.
  h4(style='font-size: 20px;') Amanda Zhu ’13
  div(style='margin: -20px 0 0 5%; line-height: 22px')
    p “I'm class of 2013 and I participated in the women's march in DC. Here are two photos from that march.
    p Me with current English teacher Dr. Vidal, who was one of my favorite teachers at Andover, at the post march Andover gathering at Trustee Gary Lee's restaurant. I hadn't realized Dr Vidal would be at the march or gathering, but it was really exciting and fitting since she was the one who helped me realize that I was a feminist back in English 100 junior year.
    p Second photo is me with Congressman Seth Moulton '97.”

    - var photoLeft = 'march/a.zhu.vidal.jpeg'
    - var creditLeft = 'Courtesy of Amanda Zhu.'
    - var captionLeft = ' '
    - var photoRight = 'march/a.zhu.moulton.jpeg'
    - var creditRight = 'Courtesy of Amanda Zhu.'
    - var captionRight = ' '
    include ../includes/photo-left-right.pug

  h4(style='font-size: 20px;') Regina DeMeo ’90
  div(style='margin: -20px 0 0 5%; line-height: 22px')
    p “Hello, I graduated from Andover in 1990 & have stayed in touch all these years with many of the women that I had the privilege to live with in Junior House, including Jane Tsai Weaver in CA, Jessica Gonzalez in Chicago, Dr. Allegra Cummings and Carolyn Bernal in NY, as well as Meredith Persily Lamel in MD.  Unfortunately, I had to work Sat morning, but all these other women were at the march-- Jane was with her daughter in Cali, the rest all came to DC & Jess stayed with me.  Many of us were able to meet up after the march at the local Andover event hosted by Gary Lee.  It was a fantastic turnout that included Bobby Edwards.”

    - var photoLeft = 'march/r.demeo.1.jpg'
    - var creditLeft = 'Courtesy of Regina DeMeo.'
    - var captionLeft = '“A group shot with Bobby Edwards that includes Jess Gonzalez and Carolyn Bernal.”'
    - var photoRight = 'march/r.demeo.2.jpg'
    - var creditRight = 'Courtesy of Regina DeMeo.'
    - var captionRight = '“Me with Liz Powell who is also class of 90 & now lives with her husband and kids in VA.”'
    include ../includes/photo-left-right.pug
  h3(style='font-weight: 700; letter-spacing: 1px; margin-bottom: 12px; font-size: 36px;') New York City
  h4(style='font-size: 20px;') Daphne Matalene ’92
  div(style='margin: -20px 0 0 5%; line-height: 22px')
    p “Hi there - class of '92 on the march in NYC. Many Andover pals marched as well, but I went with some Wellesley sisters (and Allison Williams). I worked hard for Hillary, and am still heartbroken that she's not our president. But I loved John Palfrey's post-Election address, too--Andover and Wellesley have long traditions of service, and I aim to uphold them as a citizen.”

    - var photo = 'march/d.matalene.jpg'
    - var credit = 'Courtesy of Regina DeMeo.'
    - var caption = ' '
    include ../includes/inline-photo.pug
  p If you would like for your experience, photos, videos, etc. to appear in this online exclusive, please email #[a(href='mailto:womensmarch@phillipian.net', style='color: black; margin-top: 25px;') womensmarch@phillipian.net].
