article(id='intro')
  p #[b Nearly 175,000 people flooded the streets of Boston] this past Saturday to participate in one of the many Women’s Marches taking place across the nation. Following Trump’s inauguration, the Women’s March on Boston aimed to give a voice to those who felt silenced by the rhetoric in this year’s election.
  p Across the world, millions of women and allies all marched together in solidarity with marginalized peoples. 164 Andover students signed up to attend Boston Women’s March last weekend, equipped with homemade posters and a passion for human rights.
  p Emma Slibeck ’20 said, “It was one of the most magical experiences of my life. There were so many people there, and it was really inspiring to see that many people fighting for the same things I believe in, in a time when you kind of felt hopeless, right after Trump’s inauguration. It was phenomenal.”
  p The day began at 9:45 a.m., when the students boarded a bus headed to Boston, decorating each other’s faces with face paint and talking excitedly about the upcoming event on the way. Upon arriving at their destination, they merged with the crowd and joined the sea of pink in Boston Commons.

  iframe(style='margin-top: 50px;', width='100%', height='400', src='https://www.youtube.com/embed/videoseries?list=PLfb42nN4dzPh97N6e8lLvR_sJzoVA_x_9', frameborder='0', allowfullscreen='')
  span.credit(style='padding: 5px;') Videos courtesy of Aya Murata, Junah Jang, Kim Wegrzyn.

  - var quote = 'It was an atmosphere of hope, but at the same time it was taking matters into our own hands...'
  - var speaker = 'Liz Irvin'
  - var year = '’17'
  include ../includes/quote.pug

  p Liz Irvin ’17 said, “The buses that took us there were parked in the street. So a bunch of us, instead of marching, stood on the seats of the buses and hung ourselves out of the window and shouted at the crowd. We were doing a bunch of chants, and people down in the crowd below started shouting at us, saying, ‘You guys are what makes America great,’ and, ‘Young people are what make America great! You are the future.’ ”
  p “Everyone was very passionate about being there, fighting for equality on all different fronts. It was an atmosphere of hope, but at the same time it was taking matters into our own hands and advocating for something that we all had a shared belief in,” said Slibeck.
  p It’s no coincidence that the march was held on Donald Trump’s first day of presidency. The march brought together a nation torn apart by a tumultuous election year, drawing over one million protesters in Washington, D.C., alone. According to the Women’s March on Washington’s official website, “the [march aimed to] send a bold message to our new government on their first day in office, and to the world that women's rights are human rights. We stand together, recognizing that defending the most marginalized among us is defending all of us.”

- var picture = 'march/a.murata.bus.jpg'
- var credit = 'Courtesy of Aya Murata.'
- var caption = ' '
include ../includes/banner.pug

article(id='')
  p Aya Murata, Associate Director of College Counseling and organizer of Andover’s participation in the event, said, “Certain constituencies have been fighting this fight for a very long time. With the election, it galvanized lots of other people to come forward, and to see this as everybody’s issues, rather than particular groups such as people of color or LGBTQ.”
  p People from all walks of life attended the event, from older couples and veteran protesters to younger kids and babies who marched with their parents.
  p Miles Kaufman ’19 said, “The amount of little kids there was really great. A lot of older people kept coming up to us and saying it was great we were there, because it shows how in the future, things will move in a different direction. And then to see kids even younger than I am — children — was also really exciting.”
  p Grace Rademacher ’18 also found the amount of kids who attended to be inspiring. She talked about a conversation a little girl had with her sister, and how it gave her hope for the future of women’s rights.

  - var photoLeft = 'march/g.ezell.jpg'
  - var creditLeft = 'Courtesy of Georgia Ezell.'
  - var captionLeft = ' '
  - var photoRight = 'march/g.ezell.people.jpg'
  - var creditRight = 'Courtesy of Georgia Ezell.'
  - var captionRight = ' '
  include ../includes/photo-left-right.pug

  p “We were walking down the street, and we see this little girl, who can’t be more than seven-years old, and she’s holding this giant poster, significantly larger than she is. And it says, ‘Jesus Was a Feminist,’ in all capital letters. My sister goes up to her and says, ‘I love your poster! That’s a really cool poster.’ And the little girl looks her straight in the face, with no expression, and says, ‘Yeah, I know.’ That kind of confidence coming from a young girl is really inspiring, because the energy and space at this march allowed her to be this bold,” said Rademacher.
  p Students’ interactions with other protesters were some of the most unforgettable and valuable parts of the experience for many of the students that attended. Madison Pettaway ’17 talked about her experience with a man she met while marching.
  p “One of the most interesting things I saw was this man,” said Pettaway. “He was carrying a loaf of bread, and he had it held up as you would a sign. So I asked him, ‘Why are you carrying this loaf of bread?’ And he said, ‘Oh, just to share it with everyone. I got it from this poem that says, ‘Bread is the love between strangers.’ And this goes back to the idea of marches being a community that responds to something. We shared a moment without exchanging names or having a deeper history, but it was still very important.”
