nav
  img(src='assets/images/p.svg')
  h3 Interactive Name
  a(class='menu', href='')
  ul
    li
      img(src='assets/images/p.svg')
    li
      a(href='/') Item
    li
      a(href='/path.html') Item
    li
      em #[a(href='http://phillipian.net') The Phillipian]
