nav.shadow
  img(src='assets/images/p.svg')
  h3 Andover Joins the March
  a(class='menu', href='')
  ul
    li
      a(href='http://phillipian.net')
        img(src='assets/images/p.svg')
    li #[b NEWS] | Andover Joins the March
