@import "reset";
@import "shared";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,700";

body {
  background-color: white;
  font-family: 'Georgia', 'Times New Roman', 'Times', serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

main {
  margin-bottom: 150px;
  height: auto;
  display: block;
}

@import "nav";
@import "header";
@import "banner";
@import "inline";
@import "article";
@import "photos";
@import "footer";
